# preset file

countryName             = C+
stateOrProvinceName     = ST
localityName            = L
organizationName        = O
organizationalUnitName  = OU
emailAddress            = mail@domain.tld
commonName              = CN
altName0                = subjectAltName
crlUrl                  = www.domain.tld
