# preset file

countryName             = C+
stateOrProvinceName     = ST
localityName            = L
organizationName        = O
organizationalUnitName  = OU
emailAddress            = mail@domain.tld
commonName              = CN
altName0                = SAN
crlUrl                  = http://domain.tld/crl.pem
